<%= link_to @comment.post.title, post_url(@comment.post) %>

<h3>Comment</h3>
<p>
  <%= @comment.content %>
</p>
author: <%= link_to @comment.author.username, user_url(@comment.author_id) %>

<!-- <h4>Subs</h4>
<ul>
  <#% @comment.subs.each do |sub| %>
    <li><%#= link_to sub.title, sub_url(sub) %></li>
  <#% end %>
</ul> -->

<% if current_user == @comment.author %>
  <%= link_to "Edit comment", edit_comment_url(@comment) %>
  <%= button_to "Remove comment", comment_url(@comment), method: :delete %>
<% end %>

<h3>Sub Comments</h3>
<ul>
  <% @comment.child_comments.where(parent_comment_id: @comment.id).each do |comment| %>
    <li>
      <%= link_to comment.content, comment_url(comment) %><br>
      <%= comment.author.username %>
      <% if current_user == comment.author %>
        <%= button_to "remove comment", comment_url(comment), method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Add comment", new_post_comment_url(@comment.post, parent_comment_id: self.id) %>
